@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {






  /* aside */
  .active-link {
    @apply transition-colors duration-200 justify-start bg-gradient-to-r from-secondary-content to-primary-content border-r-4 border-secondary text-secondary
  }


 
  .tn-typo {
    @apply 
      my-5 text-primary 
      typo-pre:shadow-lg typo-pre:rounded-2xl typo-pre:bg-accent-content
      typo-a:link-accent typo-a:link-hover
      typo-blockquote:bg-info typo-blockquote:bg-opacity-20
      typo-blockquote:p-1 typo-blockquote:pl-6 typo-blockquote:rounded-xl
  }

  .article-content {
    @apply fixed z-20 top-[5.8125rem] bottom-0 right-1 w-[20rem] py-10 px-4 overflow-y-auto hidden xl:block
  }
  .article-content ul { 
    @apply -mb-5
  }

  .article-content p { 
    @apply mb-4
  }
  .article-content li {
    @apply text-sm px-4 py-1 mb-4 rounded-l-lg hover:text-secondary
  }

  /* home article */


  .home-card {
    @apply w-full px-6 pt-10 pb-8 mb-10 bg-cover rounded-2xl shadow-lg bg-secondary-content text-primary
  }

  .article-container {
    @apply relative px-6 py-10 pl-2 mb-20 bg-secondary-content bg-cover rounded-2xl shadow-lg
  }

  .article-header {
    @apply relative flex flex-col justify-end shrink-0 grow-0 basis-64 mt-16 pb-8 pl-3 z-0 mr-1
  }
  
  .article-card {
    @apply relative flex flex-col justify-between z-10 basis-72 shrink-0 h-72 p-8 transition rounded-2xl 
           focus-within:rotate-6 hover:-translate-y-4 hover:rotate-6 focus-within:-translate-y-4
  }
  .mini-card {
    @apply bg-card-bi shadow-card-h shadow-primary-content
  }
  .article-card:focus-within~.article-card, .article-card:hover~.article-card {
    @apply translate-x-36
  }
  .article-card:not(:first-child) {
    @apply -ml-32
  }

 
}