:root {
  --sp-colors-fg-active: #24292e!important;
  --sp-colors-fg-default: #959da5!important;
  --sp-colors-fg-inactive: #e4e7eb!important;
  --sp-colors-bg-active: #e4e7eb!important;
  --sp-colors-bg-default: #fff!important;
  --sp-colors-bg-default-overlay: #fff!important;
  --sp-colors-bg-input: #fff!important;
  --sp-colors-accent: #c8c8fa!important;
  --sp-colors-bg-error: #ffcdca!important;
  --sp-colors-fg-error: #811e18!important;
  --theme-plain: #24292e;
  --theme-comment: #6a737d;
  --theme-keyword: #d73a49;
  --theme-tag: #22863a;
  --theme-punctuation: #24292e;
  --theme-definition: #6f42c1;
  --theme-property: #005cc5;
  --theme-static: #032f62;
  --theme-string: #032f62
}

@media (prefers-color-scheme: dark) { 
  :root {
    --sp-colors-fg-active: #fff!important;
    --sp-colors-fg-default: #999!important;
    --sp-colors-fg-inactive: #343434!important;
    --sp-colors-bg-active: #343434!important;
    --sp-colors-bg-default: #16181d!important;
    --sp-colors-bg-default-overlay: #16181d!important;
    --sp-colors-bg-input: #242424!important;
    --sp-colors-accent: #6caedd!important;
    --sp-colors-bg-error: #ffcdca!important;
    --sp-colors-fg-error: #811e18!important;
    --theme-plain: #fff;
    --theme-comment: #757575;
    --theme-keyword: #77b7d7;
    --theme-tag: #dfab5c;
    --theme-punctuation: #fff;
    --theme-definition: #86d9ca;
    --theme-property: #77b7d7;
    --theme-static: #c64640;
    --theme-string: #977cdc
  }
}

[data-theme=light] { 
  --sp-colors-fg-active: #24292e!important;
  --sp-colors-fg-default: #959da5!important;
  --sp-colors-fg-inactive: #e4e7eb!important;
  --sp-colors-bg-active: #e4e7eb!important;
  --sp-colors-bg-default: #fff!important;
  --sp-colors-bg-default-overlay: #fff!important;
  --sp-colors-bg-input: #fff!important;
  --sp-colors-accent: #c8c8fa!important;
  --sp-colors-bg-error: #ffcdca!important;
  --sp-colors-fg-error: #811e18!important;
  --theme-plain: #24292e;
  --theme-comment: #6a737d;
  --theme-keyword: #d73a49;
  --theme-tag: #22863a;
  --theme-punctuation: #24292e;
  --theme-definition: #6f42c1;
  --theme-property: #005cc5;
  --theme-static: #032f62;
  --theme-string: #032f62
}

[data-theme=dark] {
  --sp-colors-fg-active: #fff!important;
  --sp-colors-fg-default: #999!important;
  --sp-colors-fg-inactive: #343434!important;
  --sp-colors-bg-active: #343434!important;
  --sp-colors-bg-default: #16181d!important;
  --sp-colors-bg-default-overlay: #16181d!important;
  --sp-colors-bg-input: #242424!important;
  --sp-colors-accent: #6caedd!important;
  --sp-colors-bg-error: #ffcdca!important;
  --sp-colors-fg-error: #811e18!important;
  --theme-plain: #fff;
  --theme-comment: #757575;
  --theme-keyword: #77b7d7;
  --theme-tag: #dfab5c;
  --theme-punctuation: #fff;
  --theme-definition: #86d9ca;
  --theme-property: #77b7d7;
  --theme-static: #c64640;
  --theme-string: #977cdc
} 
