
:root.dark {
  --bg-primary: hsl(210deg, 30%, 8%);
  --bg-primary-float: hsl(210deg, 22%, 20%);
  --fg-primary: hsl(210, 17%, 82%);

  --bg-primary-light: rgba(208, 179, 255, 0);
  --bg-primary-dark: hsla(200deg, 100%, 85%, 0.1);

  --bg-secondary: hsl(217, 23%, 17%);
  --fg-secondary: hsl(195, 82%, 44%);

  --bg-third: hsl(210deg,15%,20%);
  --fg-third: hsl(210deg,14%,66%);

  --fg-border: hsl(210deg,15%,20%);
  --fg-border-5: hsl(210deg,15%,20%, 0.5);
 
  --fg-hover: hsl(195, 82%, 44%);
  --bg-hover: rgb(55,65,81);

  --fg-code: hsl(195, 82%, 44%);
  --bg-code: hsl(210deg, 30%, 24%);

  --bg-playground: hsl(210deg, 30%, 12%) !important;

  --bg-blockquote: hsl(210deg, 38%, 15%);
  --bg-blockquote-l: hsl(230deg, 100%, 67%);

  --fg-anchor: hsl(53deg, 100%, 50%);
  
  --fg-active: #fff !important;
  --fg-default: #999 !important;
  --fg-inactive: #343434 !important;
  --bg-active: #343434 !important;
  --bg-default-overlay: #16181d !important;
  --bg-input: #242424 !important;
  --accent: #6caedd !important;
  --bg-error: #ffcdca !important;
  --fg-error: #811e18 !important;

  --rainbow-gradient: linear-gradient(-90deg,#adfbda 0,#35c3ff 30%,#fda399 50%,#76d880 70%,#ebf38b 90%,#adfbda 100%);

  --fg-success: hsl(160deg, 100%, 40%);
  --bg-success: hsla(160deg, 100%, 40%, 0.1);
  --fg-info: hsl(245deg, 100%, 60%);
  --bg-info:  hsl(210deg, 38%, 15%);
  --fg-warning: hsl(30deg, 100%, 50%);
  --bg-warning:  hsla(38deg, 100%, 50%, 0.1);


  --theme-plain: #fff;
  --theme-comment: #757575;
  --theme-keyword: #77b7d7;
  --theme-tag: #dfab5c;
  --theme-punctuation: #fff;
  --theme-definition: #86d9ca;
  --theme-property: #77b7d7;
  --theme-static: #c64640;
  --theme-string: #977cdc;
  
}



:root {
  --bg-primary: hsl(0, 0%, 100%); /* #FFFFFF */
  --fg-primary: hsl(222deg, 22%, 5%);

  --bg-primary-light: hsl(200, 100%, 95%);
  --bg-primary-dark: hsla(195, 91%, 40%, .7);
  

  --bg-secondary: hsl(0, 0%, 100%); 
  --fg-secondary: hsl(195, 91%, 34%);

  --bg-third: hsl(210deg, 14%, 80%);
  --fg-third: hsl(225deg, 25%, 20%);

  --fg-anchor: hsl(255deg, 85%, 30%);


  --fg-border: hsl(217, 72%, 92%);
  --fg-border-5: hsl(217, 72%, 92%, 50%);

  --fg-hover: hsl(195, 91%, 34%);
  --bg-hover: rgb(243,244,246);

  --fg-code: hsl(195, 91%, 34%);
  --bg-code: hsl(200, 100%, 95%);

  --bg-playground: #fff !important;

  --bg-blockquote: hsla(210deg, 55%, 92%, 0.85);
  --bg-blockquote-l: hsl(230deg, 100%, 67%);

  --bg-mask: rgba(52,58,70,0.2);


  --fg-active: #24292e !important;
  --fg-default: #959da5 !important;
  --fg-inactive: #e4e7eb !important;
  --bg-active: #e4e7eb !important;
  --bg-default-overlay: #fff !important;
  --bg-input: #fff !important;
  --accent: #c8c8fa !important;
  --bg-error: #ffcdca !important;
  --fg-error: #811e18 !important;


  --fg-success: hsl(160deg, 100%, 40%);
  --bg-success: hsla(160deg, 100%, 40%, 0.1);
  --fg-info: hsl(245deg, 100%, 60%);
  --bg-info: hsl(210deg, 55%, 92%);
  --fg-warning: hsl(37deg, 100%, 50%);
  --bg-warning: hsla(52deg, 100%, 50%, 0.25);


  --theme-plain: #24292e;
  --theme-comment: #6a737d;
  --theme-keyword: #d73a49;
  --theme-tag: #22863a;
  --theme-punctuation: #24292e;
  --theme-definition: #6f42c1;
  --theme-property: #005cc5;
  --theme-static: #032f62;
  --theme-string: #032f62;

}