



.tag-html {
  background-color: #f2552c;
  color: #fff;
}

.tag-css {
  background-color: #bc70a4;
  color: #fff;
}

.tag-js {
  background-color: #ecdb54;
  color: #000;
}

.tag-ts {
  background-color: #5b5ea6;
  color: #000;
}

.tag-algorithm {
  background-color: #00a591;
  color: #fff;
}

.tag-http {
  background-color: #95dee3;
  color: #000;
}

.tag-html-css {
  background-image: linear-gradient(45deg, #f2552c 0%, #A15190 45%, #bc70a4 100%);
  color: #fff;
}

.tag-js-ts {
  background-image: linear-gradient(45deg, #ecdb54 0%, #8588C9 45%, #5b5ea6 100%);
  color: #fff;
}

.tag-react {
  background-color: #282c34;
  color: #61dafb;
}




.tag-easy {
  color: #00a591;
}

.tag-medium {
  color: #ecdb54;
}

.tag-hard {
  color: #f2552c;
}

.tag-backTrack {
  background-color: #ce3175;
  color: #fff;
}

.tag-dp {
  background-color: #0E65C9;
  color: #fff;
}

.tag-math {
  background-color: #b565a7;
  color: #fff;
}

.tag-string {
  background-color: #026e00;
  color: #fff;
}