
@font-face {
  font-family: 'wotfard';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: url(/fonts/wotfard/wotfard-semibold-webfont.woff2) format('woff2');
}

@font-face {
  font-family: 'wotfard';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: url(/fonts/wotfard/wotfard-medium-webfont.woff2) format('woff2');
}

@font-face {
  font-family: 'wotfard';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(/fonts/wotfard/wotfard-regular-webfont.woff2) format('woff2');
}

@font-face {
  font-family: icons;
  src: url(/fonts/icons/icons.woff2) format("woff2")
}

.tag-html {
  background-color: #f2552c;
  color: #fff;
}

.tag-css {
  background-color: #bc70a4;
  color: #fff;
}

.tag-js,
.icon-javascript {
  background-color: #ecdb54;
  color: #000;
}

.tag-ts {
  background-color: #5b5ea6;
  color: #000;
}

.tag-algorithm,
.icon-algorithm {
  background-color: #00a591;
  color: #fff;
}

.tag-http,
.icon-browser {
  background-color: #95dee3;
  color: #000;
}


.tag-browser,
.icon-browser {
  background-color: #95dee3;
  color: #000;
}

.tag-html-css,
.icon-html-css {
  background-image: linear-gradient(45deg, #f2552c 0%, #A15190 45%, #bc70a4 100%);
  color: #fff;
}

.tag-js-ts,
.icon-js-ts {
  background-image: linear-gradient(45deg, #ecdb54 0%, #8588C9 45%, #5b5ea6 100%);
  color: #fff;
}

.tag-react,
.icon-react {
  background-color: #282c34;
  color: #61dafb;
}

.tag-http-browser,
.icon-http-browser {
  background-image: linear-gradient(45deg, #95dee3 0%, #A15190 45%, #5b5ea6 100%);
  color: #fff;
}

.tag-easy {
  color: #00a591;
}

.tag-medium {
  color: #ecdb54;
}

.tag-hard {
  color: #f2552c;
}

.tag-backTrack {
  background-color: #ce3175;
  color: #fff;
}

.tag-dp {
  background-color: #0E65C9;
  color: #fff;
}

.tag-math {
  background-color: #b565a7;
  color: #fff;
}

.tag-string {
  background-color: #026e00;
  color: #fff;
}

.tag-sort {
  background-color: #00a591;
  color: #fff;
}

.tag-array {
  background-color: #95dee3;
  color: #000;
}

.tag-doublePoint {
  background-color: #5b5ea6;
  color: #fff;
}

.tag-tree {
  background-color: #bfd641;
  color: #fff;
}

.tag-hash {
  background-color: #dd4132;
  color: #fff;
}


.tag-linkList {
  background-color: #fff;
  color: #E10098;
}


.tag-stack {
  background-color: #6b5b95;
  color: #fff;
}


.tag-dfs {
  background-color: #026e00;
  color: #fff;
}

.tag-bfs {
  background-color: #3776ab;
  color: #fff;
}


.tag-binary {
  background-color: #5b5ea6;
  color: #fff;
}

.tag-greedy {
  background-color: #ecdb54;
  color: #fff;
}



.icon:before {
  font-family: icons!important;
  font-style: normal;
  font-weight: 400!important;
  -webkit-font-feature-settings: normal;
  -moz-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-javascript:before {
  content: "\f10b";
}
.icon-blog:before,
.icon-http-browser:before {
  content: "\f101"
}

.icon-check:before {
  content: "\f102"
}

.icon-chevron-left:before {
  content: "\f103"
}

.icon-chevron-right:before {
  content: "\f104"
}

.icon-clipboard:before {
  content: "\f105"
}

.icon-codepen:before {
  content: "\f106"
}

.icon-css:before,
.icon-html-css:before {
  content: "\f107"
}

.icon-git:before {
  content: "\f108"
}

.icon-github:before {
  content: "\f109"
}

.icon-home:before {
  content: "\f10a"
}

.icon-js:before,
.icon-js-ts:before {
  content: "\f10b"
} 


.icon-node:before {
  content: "\f10c"
}

.icon-python:before {
  content: "\f10d"
}

.icon-react:before {
  content: "\f10e"
}

.icon-search:before {
  content: "\f10f"
}

.icon-algorithm:before {
  content: "\f10c"
}














@media (max-width: 750px) {
  .DocSearch-Container {
    position: fixed;
  }
}
