@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  
  .scrollbar::-webkit-scrollbar {
    height: 0;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 50vh;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--bg-code);
    border-radius: 50vh;
  }

  .r-card:focus-within~.r-card, .r-card:hover~.r-card {
    @apply translate-x-36
  }
}