@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  

  .r-card:focus-within~.r-card, .r-card:hover~.r-card {
    @apply translate-x-36
  }
}