@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .table {
    @apply table-auto min-w-full leading-normal bg-second-bg rounded-lg my-8 shadow-lg
  }
  .table thead th {
    @apply px-4 py-3 font-Sriracha text-base border-b border-border-color text-center
  }
  .table tbody td {
    @apply px-5 py-2 text-sm text-center font-SourceCode
  }

  .person-logo {
    height: calc(35vh - 50px)
  }

  
  .scrollbar::-webkit-scrollbar {
    height: 0;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 50vh;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--bg-code);
    border-radius: 50vh;
  }

  .r-card:focus-within~.r-card, .r-card:hover~.r-card {
    @apply translate-x-36
  }
}