@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .table {
    @apply table-auto min-w-full leading-normal bg-second-bg rounded-lg my-8 shadow-lg
  }
  .table thead th {
    @apply px-4 py-3 font-Sriracha text-base border-b border-border-color text-center
  }
  .table tbody tr {
    @apply border-b border-border-color last:border-b-0
  }
  .table tbody td {
    @apply px-5 py-3 text-sm text-center font-SourceCode
  }

  .person-logo {
    height: calc(35vh - 20px)
  }

  
  .scrollbar::-webkit-scrollbar {
    height: 0;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 50vh;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--bg-code);
    border-radius: 50vh;
  }

  .r-card:focus-within~.r-card, .r-card:hover~.r-card {
    @apply translate-x-36
  }

  /* searchBox */
  .docSearch button {
    @apply w-full m-0 h-12 rounded items-center
  }
  .docSearch kbd {
    @apply h-6 w-6 border border-transparent mr-1 bg-primary-bg  align-middle p-0 inline-flex justify-center items-center text-xs text-center rounded
  }
  .docSearch-top button {
    @apply h-full bg-transparent
  }
  .docSearch-top button .DocSearch-Button-Placeholder,
  .docSearch-top button .DocSearch-Button-Keys {
    @apply hidden
  }
  .docSearch-top button:hover,
  .docSearch-top button:active,
  .docSearch-top button:focus {
    @apply bg-transparent
  }
}