@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;
